/* @import url("https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css"); */
body {
  margin: 20px;
  background: #FFF;
}

.images {
  display: block;
}

.image-block {
  display:inline-block;
  margin-right: 20px;
  max-width: 50%;
}

canvas {
  border: solid 1px #000;
  max-width: 40vw;
}

.image-upload {
  display: block;
}